.block{
	background-color: #fff;
	width:85%; 
	height:400px;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
	border-radius: 10px;
	padding-top: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.photo{
	border-radius: 10px;
	width: 220px;
	height: 220px;
	margin: 0 auto;
	display: block;
	background-size: cover;
}
.info {
	text-align: center;
}

.info > h3{
	color:#000;
}

.info > h4{
	color: #c4c4c4;
}

.mybutton{
	display: block;
	width: 250px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: #7c1de0;
	border:0;
	border-radius: 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.mybuttonDisabled{
	display: block;
	width: 250px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: #cccccc;
	border:0;
	border-radius: 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.mybutton>span{
	color:#fff;
	font-size: 18px;
}

.mybutton:hover{
	background-color: #6711c2;
}